{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="text-box">
        <div class="row ">
            <div class="col-7 col-md-6 my-auto">
            <hr>
            <h3 class="logo-font mb-4 text-center">Thank You</h3>
            <hr>
            <p class="text-black text-center">
                Your order is complet and your confirmation email will be sent to
                <strong>{{ order.email }}</strong>.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7 mx-auto">
            <div class="order-confirmation-wrapper p-2 border">
                <!-- Order Info Section -->
                <div class="row">
                    <div class="col">
                        <small class="text-blue">Order Info:</small>
                    </div>
                </div>

                <!-- Order Number -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.order_number }}</p>
                    </div>
                </div>

                <!-- Order Date -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>

                <!-- Order Details Section -->
                <div class="row mt-3">
                    <div class="col">
                        <small class="text-blue">Order Details:</small>
                    </div>
                </div>

                <!-- Loop through order line items -->
                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="mb-0 text-black">{{ item.product.title }}</p>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <p class="small mb-0">{{ item.quantity }} @ ${{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}

                <!-- Delivering To Section -->
                <div class="row mt-3">
                    <div class="col">
                        <small class="text-blue">Delivering To:</small>
                    </div>
                </div>

                <!-- Address and contact details -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>

                <!-- Other address fields -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% endif %}
                
                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
                
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>
                
                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}
                
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>

                <!-- Billing Info Section -->
                <div class="row mt-3">
                    <div class="col">
                        <small class="text-blue">Billing Info:</small>
                    </div>
                </div>

                <!-- Order Total -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">${{ order.order_total }}</p>
                    </div>
                </div>

                <!-- Delivery Cost -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">${{ order.delivery_cost }}</p>
                    </div>
                </div>

                <!-- Grand Total -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">${{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-7"></div>
    </div>
</div>
{% endblock %}