<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font dont-weight-bold nav-link text-black nr-5" 
            href="#" id="all-products-link" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">All Products</a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item">Rating</a>
                <a href="{% url 'products' %}?sort=categorye&direction=asc" class="dropdown-item">category</a>
                <a href="{% url 'products' %}?category=wine, sparkling, accessories" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font dont-weight-bold nav-link text-black nr-5" 
            href="#" id="all-products-link" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
            Wine Selection
            </a>
            <div class="dropdown-menu border-0" 
            aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=white" class="dropdown-item">White</a>
                <a href="{% url 'products' %}?category=red" class="dropdown-item">Red</a>
                <a href="{% url 'products' %}?category=rose" class="dropdown-item">Rose</a>
                <a href="{% url 'products' %}?category=sparkling" class="dropdown-item">Sparkling</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font dont-weight-bold nav-link text-black nr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=offers" class="dropdown-item">Offers</a>
            </div>
        </li>
    </ul>
</div>