{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Verify Your E-mail Address" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card my-5">
                <div class="card-body">
                    <h2 class="text-center mb-4">{% trans "Verify Your E-mail Address" %}</h2>
                    <p class="text-center">
                        {% blocktrans %}
                         Follow the link provided in the e-mail we sent to 
                        finalize the signup process and for verification.
                        Please contact us if you do not receive it within a few
                        minutes.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}