{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock%}

{% block content %}
<div class="container">
    <h2>Your Wishlist</h2>

    {% if wishlist.products.all %}
    <ul>
        {% for product in wishlist.products.all %}
        <li>
            <span class="heart-icon {% if product.is_in_wishlist %}red{% endif %}" data-product-id="{{ product.id }}"></span>
            {{ product.name }} - <a href="{% url 'remove_from_wishlist' product.id %}">Remove</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Your wishlist is empty.</p>
    {% endif %}
</div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
                $(document).ready(function () {
                    $('.heart-icon').click(function () {
                        var productId = $(this).data('product-id');
                        
                        $.ajax({
                            type: 'POST',
                            url: '{% url "toggle_wishlist" %}',
                            data: {
                                'product_id': productId,
                                'csrfmiddlewaretoken': '{{ csrf_token }}'
                            },
                            success: function (data) {
                                if (data.is_in_wishlist) {
                                   $('.heart-icon[data-product-id=' + productId + ']').addClass('red');
                                } else {
                                    $('.heart-icon[data-product-id=' + productId + ']').removeClass('red');
                                }
                            }
                        });
                    });
                });
        </script>

    <script type="text/javascript">
        $('#sort-selector').change(function () {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}